@use '../themes/defaultTheme' as *;
@use '../util/variables'as *;
@use '../util/mixins'as *;

// Styles for NavBar ... for phone
.navbar {
  color: $primary-4;
  transition: $transition;
  overflow: hidden;
  &.show {
    width: 20vw;
  }
  width: 0;
  background: $primary-1;
  opacity: 85%;
  height: 100%;
  box-shadow: $light-shadow;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  .nav-center {
    
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    .nav-header {
      @include flex-space;
      width: inherit;
      padding-right: 0px;
      padding-left: 0px;
      height: 100px;
      .logo {
        // max-width: 130px;
        padding: 2rem 0.5rem 0 0.5rem;
        margin: auto;
        margin-top: 1rem;
      }
    }

    .links-container {
      display: flex;
      flex-direction: column;
      
    }

    .links {
      flex-direction: column;

      li {
        margin: 1.8rem auto;
        text-align: center;

        text-transform: capitalize;
        letter-spacing: 0.1rem;
        display: block;
        width: fit-content;

        transition: all 0.5s linear;
        position: relative;
        a {
          color: $primary-8;
          // font-weight: bold;
        }
        &::after {
          @include pseudo;
          height: 2px;
          background: $primary-8;
          position: absolute;
          bottom: 0;
          width: 0;
          transition: $transition;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }

    .social-icons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      li {
        margin: 0.6rem auto;
      }
      a {
        svg {
          color: $primary-8;
          transition: $transition;
          &:hover {
            color: $primary-7;
          }
          &:visited {
            color: inherit;
          }
        }
      }
    }
  }

  .nav-toggle {
    font-size: 1.5rem;
    color: $primary-1;
    transition: $transition;
    z-index: 1;
    position: fixed;
    top: 1%;
    left: 85%;
    &:hover {
      color: $primary-2;
    }
  }
}

// Navbar tablet & desktop styles
@include tablet {
  .navbar {
    &.show {
      width: 15vw;
    }
    .nav-center{
      .nav-header{
        .logo{
          min-width: 110px;
        }
      }
      .links{
        margin-top: 30%;
      }
    }
    .nav-toggle{
      top: 3%;
      left: 90%;
    }
  }

  .container{
    margin: 0;
  }
}

@include large {
  .navbar {
    &.show {
      max-width: 170px;
    }
    .nav-center{
      .nav-header{
        .logo{
          min-width: 140px;
        }
      }
    }
    .nav-toggle{
      top: 3%;
      left: 93%;
    }
  }
}