@use '../themes/defaultTheme' as *;
@use '../util/variables'as *;
@use '../util/mixins'as *;

#aboutUs{
    background: $primary-4;
    @include flex-center-column;
    padding: 2rem .6rem 0;
    h3{
        color: $primary-1;
        font-weight: 500;
        margin-bottom: 1.2rem;
    }
    .aboutUsInfo{
        width: 85%;
        background: $primary-7;
        padding: 1rem;
        P{
            color: $primary-1;
        }
    }
}