@use '../themes/defaultTheme' as *;
@use '../util/variables'as *;
@use '../util/mixins'as *;

#gallery {
  background: $primary-8;
  @include flex-center-column;
  padding: 2rem 0.6rem;
  h3 {
    color: $primary-1;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }
  .buttons {
    @include flex-space;
    margin-bottom: 0.2rem;

    button {
      margin: 0.4rem 0.5rem;
      text-transform: uppercase;
      padding: 0.3rem;
      width: auto;
      font-size: 0.6rem;
      color: $primary-4;
      background: $primary-1;
      &#button-all, &#button-none, &#ACPhotos, &#RVPhotos{
        border-radius: 5px;
      }
      &#button-all,
      &#button-none {
        padding: 0.3rem 0.6rem;
      }
    }
  }
  .images {
    @include flex-center;
    flex-wrap: wrap;
    img {
      margin-bottom: 0.3rem;
      // width: 70%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include tablet {
  #gallery {
    .buttons {
      &:nth-child(2),
      &:nth-child(3) {
        border-radius: 12px;
      }
    }
    .images {
      // width: 90%;
      img {
        padding: 0.8rem;
        margin-bottom: 0;
        width: 42%;
      }
    }
  }
}

@include large {
  #gallery {
    .buttons {
      button {
        margin: 0.2rem 0.9rem;
        font-size: 1.1rem;
      }
    }
  }
}

@include desktop {
  #gallery {
    .images {
      // width: 90%;
      img {
        width: 30%;
      }
    }
  }
}
