// dark shades of primary color
$primary-0: hsl(174, 9%, 21%);
$primary-1: hsl(174, 9%, 29%);
$primary-2: hsl(174, 9%, 37%);
$primary-3: hsl(174, 9%, 45%);
$primary-4: hsl(174, 9%, 52%);
$primary-5: hsl(174, 9%, 60%);
$primary-6: hsl(174, 9%, 67%);
$primary-7: hsl(174, 9%, 74%);
$primary-8: hsl(174, 9%, 81%);
$primary-9: hsl(174, 9%, 88%);

// $primary-2: hsl(218, 19%, 37%);
// $primary-0: hsl(229, 19%, 21%);
// $primary-4: hsl(170, 12%, 52%);
// $primary-4: hsl(324, 7%, 45%);
// $primary-0: hsl(174, 9%, 21%);
// $primary-3: hsl(138, 9%, 45%);
// $primary-0: hsl(347, 23%, 21%);

// secondary 
$secondary-0: hsl(30, 75%, 21%);
$secondary-1: hsl(30, 75%, 29%);
$secondary-2: hsl(30, 75%, 37%);
$secondary-3: hsl(30, 75%, 45%);
$secondary-4: hsl(30, 75%, 52%);
$secondary-5: hsl(30, 75%, 60%);
$secondary-6: hsl(30, 75%, 67%);
$secondary-7: hsl(30, 75%, 74%);
$secondary-8: hsl(30, 75%, 81%);
$secondary-9: hsl(30, 75%, 88%);

// dark shades of grey color

$grey-0: hsl(210, 30%, 21%);
$grey-1: hsl(210, 30%, 29%);
$grey-2: hsl(210, 30%, 37%);
$grey-3: hsl(210, 30%, 45%);
$grey-4: hsl(210, 30%, 52%);
$grey-5: hsl(210, 30%, 60%);
$grey-6: hsl(210, 30%, 67%);
$grey-7: hsl(210, 30%, 74%);
$grey-8: hsl(210, 30%, 81%);
$grey-9: hsl(210, 30%, 88%);

// lighter shades of grey color

// misc color
$font-color: hsl(263, 11%, 24%);
$white: #eee;
$black: #222;
$red-dark: hsl(0, 100%, 40%);
$red-light: hsl(0, 67%, 57%);
$green-dark: hsl(125, 59%, 43%);
$green-light: hsl(125, 86%, 57%);

$onyx: hsl(207, 8%, 21%);
// $feldgrau: hsl(184, 9%, 32%);
$unbleached-silk: hsl(15, 65%, 88%);
$auburn: hsl(359, 58%, 39%);
// $sunray: hsl(36, 87%, 67%);
$color: hsl(24, 59%, 68%);
// $blue: hsl(188, 39%, 36%);
