*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: baseline;
}

td {
  font-weight: bold;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: center;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button, input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #eee;
  color: #253646;
  line-height: 1.5;
  font-size: 0.875rem;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #6085a9;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
.app {
  background: #7a908d;
}

.btn {
  border-color: transparent;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  align-self: center;
}

.container {
  display: flex;
  flex-flow: column;
  background: #eee;
  margin-top: 8rem;
  text-align: center;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.container h3 {
  font-size: 20px;
  font-weight: 500;
}
.container .question-area {
  display: flex;
  flex-flow: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .container {
    background: #eee;
    margin: 8rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .container h3 {
    font-size: 20px;
    font-weight: 500;
  }
}
svg {
  width: 35px;
  height: 35px;
}

footer {
  padding: 1rem 0;
  font-weight: 500;
  background: #43514f;
  color: #7a908d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.6rem;
  text-align: center;
}

#home {
  background: #7a908d;
  margin-top: 0;
  box-shadow: none;
}
#home .landingPicture {
  height: 100vh;
  width: 100vw;
}
#home .landingPicture img {
  width: 100vw;
  height: 100vh;
}
#home .landingPicture .landingInfo {
  text-align: center;
  background: #eee;
  opacity: 80%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
}
#home .landingPicture .landingInfo h3 {
  font-weight: 500;
  font-size: 1.1rem;
  font-style: italic;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: #313a39;
  margin-bottom: 0.3rem;
}
#home .landingPicture .landingInfo h5 {
  font-weight: 500;
  font-size: 0.8rem;
  font-style: italic;
  color: #313a39;
  margin-bottom: 1.3rem;
}
#home .landingPicture .landingInfo p {
  color: #313a39;
  font-weight: 500;
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}
#home .landingPicture .landingInfo p.number {
  margin-bottom: 1.5rem;
}
#home .landingPicture .landingInfo .btn {
  padding: 0.2rem;
  font-size: 0.7rem;
  font-weight: 700;
  color: #9f3232;
  border: #9f3232 solid 2px;
  border-radius: 0%;
}

@media only screen and (min-width: 768px) {
  #home {
    background: #cad3d2;
  }
  #home .landingPicture img {
    display: hidden;
    width: 0;
    height: 0;
  }
  #home .landingPicture .landingInfo {
    background: #7a908d;
    padding: 2.2rem 3rem;
    width: 40%;
  }
  #home .landingPicture .landingInfo h3 {
    font-size: 2.3rem;
    margin-bottom: 0.9rem;
  }
  #home .landingPicture .landingInfo h5 {
    font-size: 1rem;
    margin-bottom: 1.8rem;
  }
  #home .landingPicture .landingInfo p {
    margin-bottom: 0.6rem;
    font-size: 1rem;
  }
  #home .landingPicture .landingInfo p.number {
    margin-bottom: 1.8rem;
  }
  #home .landingPicture .landingInfo .btn {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 1024px) {
  #home .landingPicture .landingInfo {
    padding: 2.2rem 3rem;
    width: 40%;
  }
  #home .landingPicture .landingInfo h3 {
    font-size: 3.4rem;
    margin-bottom: 1.1rem;
  }
  #home .landingPicture .landingInfo h5 {
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
  }
  #home .landingPicture .landingInfo p {
    margin-bottom: 0.6rem;
    font-size: 1.4rem;
  }
  #home .landingPicture .landingInfo p.number {
    margin-bottom: 1.8rem;
  }
  #home .landingPicture .landingInfo .btn {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 1280px) {
  #home .landingInfo {
    width: 30%;
  }
}
#contact {
  background: #7a908d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0.6rem;
}
#contact .underline {
  margin-top: 5px;
  width: 100px;
  background: #687d7b;
  border-radius: 1rem;
  height: 5px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .underline .innerUnderLine {
  background: #b7c3c1;
  height: 5px;
  width: 53px;
  border-radius: 1rem;
}
#contact h3 {
  color: #43514f;
  font-weight: 500;
  margin-bottom: 0;
}
#contact h5 {
  color: #43514f;
  font-weight: 500;
  font-size: 1rem;
}
#contact h5.location {
  margin-top: 1.1rem;
}
#contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 65%;
}
#contact form input {
  margin: 0.2rem;
}
#contact form input#userName, #contact form input#email, #contact form input#message {
  width: 100%;
  border-radius: 5px;
  padding: 0.6rem;
  border: 1px solid #43514f;
  color: #43514f;
}
#contact form input#userName::-moz-placeholder, #contact form input#email::-moz-placeholder, #contact form input#message::-moz-placeholder {
  color: #43514f;
}
#contact form input#userName:-ms-input-placeholder, #contact form input#email:-ms-input-placeholder, #contact form input#message:-ms-input-placeholder {
  color: #43514f;
}
#contact form input#userName::placeholder, #contact form input#email::placeholder, #contact form input#message::placeholder {
  color: #43514f;
}
#contact form input#message {
  height: 7rem;
  padding-bottom: 5.5rem;
}
#contact form input[type=submit] {
  border-radius: 5px;
  margin: 0.6rem 0 1rem;
  padding: 0.6rem;
  color: #cad3d2;
  background: #43514f;
}

@media only screen and (min-width: 768px) {
  #contact form {
    width: 65%;
  }
  #contact form input {
    margin: 0.2rem;
  }
  #contact form input#message {
    height: 8rem;
  }
}
@media only screen and (min-width: 1024px) {
  #contact form {
    width: 70%;
  }
  #contact form input#userName, #contact form input#email {
    height: 3.5rem;
  }
  #contact form input#message {
    height: 12rem;
    padding-bottom: 9rem;
  }
}
@media only screen and (min-width: 1280px) {
  #contact form {
    width: 55%;
  }
}
#aboutUs {
  background: #7a908d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0.6rem;
}
#aboutUs h3 {
  color: #43514f;
  font-weight: 500;
  margin-bottom: 1.2rem;
  margin-bottom: 0;
}
#aboutUs .underline {
  margin-top: 5px;
  width: 100px;
  background: #687d7b;
  border-radius: 1rem;
  height: 5px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutUs .underline .innerUnderLine {
  background: #b7c3c1;
  height: 5px;
  width: 53px;
  border-radius: 1rem;
}
#aboutUs .aboutUsInfo {
  border-radius: 5px;
  background: #b7c3c1;
  width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#aboutUs .aboutUsInfo img {
  width: 90%;
  border-radius: 10px;
  margin: 1rem 0;
}
#aboutUs .aboutUsInfo p {
  text-align: center;
  color: #43514f;
}

@media only screen and (min-width: 768px) {
  #aboutUs .aboutUsInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 95%;
  }
  #aboutUs .aboutUsInfo img {
    width: 40%;
  }
  #aboutUs .aboutUsInfo .text {
    width: 95%;
    margin: 0.6rem;
  }
  #aboutUs .aboutUsInfo .text p {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 1024px) {
  #aboutUs .aboutUsInfo img {
    width: 40%;
  }
  #aboutUs .aboutUsInfo .text {
    padding: 0 1.2rem;
  }
  #aboutUs .aboutUsInfo .text p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  #aboutUs .aboutUsInfo {
    width: 70%;
  }
  #aboutUs .aboutUsInfo p {
    font-size: 1.4rem;
  }
  #aboutUs .aboutUsInfo img {
    width: 30%;
  }
}
#gallery {
  background: #cad3d2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0.6rem;
}
#gallery h3 {
  color: #43514f;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
#gallery .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
#gallery .buttons button {
  margin: 0.4rem 0.5rem;
  text-transform: uppercase;
  padding: 0.3rem;
  width: auto;
  font-size: 0.6rem;
  color: #7a908d;
  background: #43514f;
}
#gallery .buttons button#button-all, #gallery .buttons button#button-none, #gallery .buttons button#ACPhotos, #gallery .buttons button#RVPhotos {
  border-radius: 5px;
}
#gallery .buttons button#button-all, #gallery .buttons button#button-none {
  padding: 0.3rem 0.6rem;
}
#gallery .images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#gallery .images img {
  margin-bottom: 0.3rem;
}
#gallery .images img:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  #gallery .buttons:nth-child(2), #gallery .buttons:nth-child(3) {
    border-radius: 12px;
  }
  #gallery .images img {
    padding: 0.8rem;
    margin-bottom: 0;
    width: 42%;
  }
}
@media only screen and (min-width: 1024px) {
  #gallery .buttons button {
    margin: 0.2rem 0.9rem;
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 1280px) {
  #gallery .images img {
    width: 30%;
  }
}
.navbar {
  background: #7a908d;
  transition: all 0.5s linear;
  overflow: hidden;
  width: 0;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
}
.navbar.show {
  width: 20vw;
}
.navbar .nav-center {
  background: #43514f;
  opacity: 95%;
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.navbar .nav-center .nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  padding-right: 0px;
  padding-left: 0px;
  height: 100px;
}
.navbar .nav-center .nav-header .logo {
  padding: 2rem 0.5rem 0 0.5rem;
  margin: auto;
  margin-top: 1rem;
}
.navbar .nav-center .links-container {
  display: flex;
  flex-direction: column;
}
.navbar .nav-center .links {
  flex-direction: column;
  padding: 0 0.5rem;
}
.navbar .nav-center .links li {
  margin: 1.8rem auto;
  text-align: center;
  text-transform: capitalize;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.5s linear;
}
.navbar .nav-center .links li a {
  color: #cad3d2;
}
.navbar .nav-center .links li::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  height: 2px;
  background: #cad3d2;
  position: absolute;
  bottom: 0;
  width: 0;
  transition: all 0.5s linear;
}
.navbar .nav-center .links li:hover::after {
  width: 100%;
}
.navbar .nav-center .social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbar .nav-center .social-icons li {
  margin: 0.6rem auto;
}
.navbar .nav-center .social-icons a svg {
  color: #cad3d2;
  transition: all 0.5s linear;
}
.navbar .nav-center .social-icons a svg:hover {
  color: #b7c3c1;
}
.navbar .nav-center .social-icons a svg:visited {
  color: inherit;
}
.navbar .nav-toggle {
  font-size: 1.5rem;
  color: #43514f;
  transition: all 0.5s linear;
  z-index: 1;
  position: fixed;
  top: 1%;
  left: 88.5%;
}
.navbar .nav-toggle:hover {
  color: #566765;
}

@media only screen and (min-width: 768px) {
  .navbar.show {
    width: 15vw;
  }
  .navbar .nav-center .nav-header .logo {
    min-width: 110px;
  }
  .navbar .nav-center .links {
    margin-top: 30%;
  }
  .navbar .nav-center .links li {
    font-size: 1.2rem;
  }
  .navbar .nav-toggle {
    top: 1.5%;
    left: 92.5%;
  }
  .navbar .nav-toggle svg {
    width: 40px;
    height: 40px;
  }

  .container {
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar.show {
    max-width: 160px;
  }
  .navbar .nav-center .nav-header .logo {
    min-width: 140px;
  }
  .navbar .nav-center .links li {
    font-size: 1.1rem;
  }
  .navbar .nav-toggle {
    top: 2%;
    left: 92%;
  }
  .navbar .nav-toggle svg {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (min-width: 1280px) {
  .navbar.show {
    max-width: 150px;
  }
  .navbar .nav-toggle {
    top: 2%;
    left: 95%;
  }
}